/* Base CSS */
html {
    background: #040e18;
}

/* Background Image and Shading */
.background_image {
    position: fixed !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -2;
}